<div class="row">
    <h1 class = "logo col l12">Recently added posts</h1>
</div>
<div class="container">
    <div class="row">
        <div>
        <nav>
        <div class="nav-wrapper">
          <form method="post" action="/tag_search">
            <div class="input-field">
              <input id="search" name="tag" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search by tags</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>
      </div>
    </div>
    <div class="row">
        <% if @posts != nil %>
            <% @posts.each do |post| %>
                <div class="col l10 push-l1">        
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="<%= post.picture %>">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4"><%= post.title %><i class="material-icons right">...</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><%= post.title %><i class="material-icons right">close</i></span>
                            <p class="info_cake"><%= post.postbody %></p>
                            <a class="info_tag see_user" href="/profile"><%= post.user.first_name %> <%= post.user.last_name %></a>                           
                            <% post.tags.each do |tag| %>
                                <span class="badge green"><%= tag.name %></span>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
         <% end %>
    </div>
</div>