<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="hide-on-med-and-down">
        <li><a href="/userinfo/follow/<%= @user.id %>">User Info</a></li>
        <li><a href="/read">Read</a></li>
      </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <% if not @posts.nil? %>
            <% @posts.each do |post| %>
                <div class="col l10 push-l1">          
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="<%= post.picture %>">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4"><%= post.title %><i class="material-icons right">...</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><%= post.title %><i class="material-icons right">close</i></span>
                            <p class="info_tag"><%= post.postbody %></p>
                            <p class="info_tag"><%= @user.first_name %> <%= @user.last_name %></p>
                            <% post.tags.each do |tag| %>
                                <span class="badge green"><%= tag.name %></span>
                            <% end %>
                            <div>
                            <form action="/posts/<%= post.id %>/delete" method="post">
                                <input id="hidden" type="hidden" name="_method" value="delete">
                                <input type="submit" value="delete" class="submit">
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
         <% end %>
    </div>
</div>